.content-projects {
  width: 80%;
  position: absolute;
  top: 15vmin;
  transition: all .5s ease-in-out;
}
.count-projects {
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, .3);
  border-radius: 50%;
  color: #404247;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: calc(50vh - 45px);
  left: 0px;
  z-index: 100;

}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  { 
  .content-projects {
    position: static;
  }
  .count-projects {
    display: none;
  }
}