.wrapperPadding {
  border: 5px solid black;
  position: relative;
  padding: 0 5vw;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.wrapperPadding > div {
  /* border: 3px solid red;
  width: 100%;
  max-width: 1200px; */
}

.appContentPersonalProjectsHeader {
  color: var(--primary-text);
  padding-top: var(--section-header-spaces);
}

.spanWorkName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2WorkName {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

.contentPersonalProject:first-child {
  border-bottom: 1px solid var(--accent-color);
}

.contentPersonalProject:first-child {
  /* border: 2px solid red; */
  padding-bottom: 6rem;
}

.contentPersonalProjectFlex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.contentTitleProject h3 {
  /* padding: 15vh 0; */
  padding-top: 10vh;
}

.contentTitleProject h3 {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
}

.contentPersonalProjectImg {
  align-self: flex-start;
  padding-top: 10vh;
  position: relative;
  width: 100%;
}

.contentImgTablet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentPersonalProjectImg img {
  border-radius: 14px;
  width: 100%;
  position: relative;
  filter: drop-shadow(8px 8px 20px rgba(106, 109, 131, 0.4));
  z-index: 10;
}

.backImgPersonal {
  display: block;
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.contentPersonalProjectDescription {
  width: 100%;
  /* padding-right: 5vw; */
}

.pDescriptionPersonal {
  font-family: var(--title-font);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--letter-spacing);
}

.pDescriptionPersonal:not(.pDescriptionPersonal:first-child) {
  padding-top: 5vh;
}

.pDescriptionPersonal:first-child {
  padding-top: 8vh;
}

.contentProjectImg {
  width: 100%;
  height: 100%;
}

.fragmentCode {
  border-radius: 8px;
  line-height: 0;
  overflow: hidden;
  margin-top: 10vh;
  aspect-ratio: 1/1;
}

.fragmentCode img {
  object-fit: cover;
  width: 100%;
}
.codeImgPersonalProjects {

  padding-top: 5vh;
}

.codeImgPersonalProjects img {
  width: 100%;
}

.contentMoreLink {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  position: relative;
}

.contentLinesCustomLink:hover .lineCustomLink {
  transform: translateX(15%);
}

.contentLinesCustomLink:hover .circleCustomLink {
  transform: translateX(-15%);
}

.contentLinesCustomLink {
  position: relative;
}

.lineCustomLink,
.circleCustomLink,
.circleCustomLinkAnimate {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.lineCustomLink {
  left: 30%;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.circleCustomLink {
  border-radius: 50%;
  bottom: 0;
  left: -15%;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  z-index: 1;
}

.moreLink {
  color: var(--primary-text);
  font-size: calc(1vw + 1.3em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

.moreLinkProjects {
  color: var(--primary-text);
  font-size: calc(1vw + 0.8em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

.contentEachLink {
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  position: relative;
}

.personalProjectsExternalLink {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

.contentIconExLinkProjects,
.contentIconGithubProjects {
  border-radius: 8px;
  cursor: pointer;
  padding: 0.8rem;
}
.contentIconGithubProjects {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 80%;
  right: -10%;
  margin-left: 2vw;
}

.contentIconExLinkProjects {
  background-color: var(--accent-color);
  margin-right: 2vw;
}

@media only screen and (min-width: 860px) {
  .contentPersonalProjectFlex {
    flex-direction: row-reverse;
    /* padding-bottom: 20vh; */
  }

  .contentPersonalProjectDescription {
    width: 50%;
  }

  .contentPersonalProjectImg {
    width: 40%;
  }

  .pDescriptionPersonal {
    font-size: 18px;
    padding: 0vh 0vw;
  }

  .contentEachLink {
    padding: 15vh 0;
  }
}
