.wrapperPadding {
  position: relative;
  padding: 0 5vw;
}

.appContentPersonalProjectsHeader {
  /* border: 2px solid red; */
  padding-top: 30vh;
}

.spanWorkName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2WorkName {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

.wrapperPersonalProjects {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* margin-top: 20vh; */
  padding-top: 20vh;
}

.contentPersonalProject {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentPersonalProjectImg {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.contentPersonalProjectImg img {
  border-radius: 14px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.backImgPersonal {
  display: block;
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.contentPersonalProjectDescription {
  width: 100%;
  padding: 8vh 0 3vh;
}

.pDescriptionPersonal {
  font-family: var(--title-font);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--letter-spacing);
}

.contentMoreLink {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  position: relative;
}

.contentLinesCustomLink:hover .lineCustomLink {
  /* border: 2px solid green; */
  transform: translateX(15%);
}

.contentLinesCustomLink:hover .circleCustomLink {
  /* border: 2px solid green; */
  transform: translateX(-15%);
}

.contentLinesCustomLink {
  /* border: 2px solid red; */
  position: relative;
}

.lineCustomLink,
.circleCustomLink,
.circleCustomLinkAnimate {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.circleCustomLinkAnimate {
  border: 2px solid red;
}

.lineCustomLink {
  left: 30%;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.circleCustomLink {
  border-radius: 50%;
  bottom: 0;
  left: -15%;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  z-index: 1;
}

.moreLink {
  /* border: 2px solid greenyellow; */
  color: var(--primary-text);
  font-size: calc(1vw + 1.3em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

.moreLinkProjects {
  /* border: 2px solid greenyellow; */
  color: var(--primary-text);
  font-size: calc(1vw + 0.8em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

.contentEachLink {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  position: relative;
}

@media only screen and (min-width: 860px) {
  .contentPersonalProject {
    flex-direction: row;
  }

  .wrapperPersonalProjects > div:first-child > .contentPersonalProject {
    flex-direction: row-reverse;
  }

  .pDescriptionPersonal {
    font-size: 18px;
    padding: 4vh 4vw;
  }

  .contentEachLink {
    padding: 15vh 0;
  }
}
