.personalProjectsExternalLink {
  /* border: 2px solid red; */
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
}

.personalProjectsExternalLink:hover .contentIconExLinkProjects {
  transform: translate(-7px, 7px);
}

.personalProjectsExternalLink:hover .contentIconGithubProjects {
  transform: translate(7px, -7px);
}

.contentIconExLinkProjects,
.contentIconGithubProjects {
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.contentIconExLinkProjects a,
.contentIconGithubProjects a {
  display: block;
  padding: 0.5rem 0.8rem;
}
.contentIconGithubProjects {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 80%;
  right: -10%;
  margin-left: 1rem;
  z-index: 10;
}

.contentIconExLinkProjects {
  background-color: var(--accent-color);
  margin-right: 1rem;
  position: relative;
  z-index: 5;
}
