.content-profile-info {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile-name {
  margin-bottom: .5rem;
  color: var(--dark-color);
  font-size: var(--profile-text-size);
  letter-spacing: var(--letter-spacing);
}

.profile-role {
  color: var(--dark-color);
  font-size: var(--small-text-size);
  letter-spacing: var(--letter-spacing);
}
