.parent-content-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 100;
}

.parent-content-button.content-button-info {
  position: sticky;
  /* top: 10rem; */
  /* align-self: flex-start; */
}

.content-button-info form {
  position: relative;
  z-index: 10;
}

.content-button-info button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.icon-user {
  display: inline-block;
  width: 2.1em;
  height: 2.1em;
  stroke-width: 0;
  stroke: var(--dark-color);
  fill: var(--dark-color);
}

.parent-content-button.top {
  position: absolute;
  top: 35px;
}

.top,
.bottom {
  background: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  z-index: 200;
}

.bottom {
  display: none;
}

.icon-long-arrow-up {
  width: 2em;
  height: 2em;
}

.bottom .icon-long-arrow-up {
  transform: rotate(180deg);
}

.icon-long-arrow-up {
  stroke-width: 0;
  stroke: var(--dark-color);
  fill: var(--dark-color);
}

.top.deactivate-top {
  display: none;
}

.parent-content-button.bottom {
  position: absolute;
  bottom: 35px;
}

.bottom.activate-bottom {
  display: block;
}
