.contentButtonContact {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 15vh; */
  position: relative;
}
.contentButtonContact.about {
  padding: 3rem;
}

.contentButton {
  /* border: 2px solid #ffffff; */
  border-radius: 50px;
  /* box-shadow: 2px 4px 12px rgb(30 19 61 / 40%); */
  /* background-color: var(--accent-color); */
  overflow: hidden;
}

.contentButton.hero {
  border: 2px solid #ffffff;
}

.contentButton.about {
  border: 2px solid var(--accent-color);
}

.contentButton::before {
  content: "";
  border-radius: 50px;
  background-color: #683edb;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all ease-in 0.4s;
}

.contentButton:hover::before {
  width: 200px;
  height: 200px;
}

.contentButton.about:hover .link.about {
  color: var(--body-color);
}

.contentButton {
  align-self: flex-start;
  position: relative;
}

.button {
  border: 2px solid green;
  border: none;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  /* font-size: var(--text-button-small); */
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  padding: 0.6rem 1.8rem;
  position: relative;
  z-index: 10;
}

/* .button a {
  color: var(--body-color);
} */

.link {
  transition: all ease-in 0.4s;
}
.link.hero {
  color: #ffffff;
}

.link.about {
  color: var(--accent-color);
}
