.content-projects > .projects {
  margin-top: 200px;
}

.projects {
  height: 50vmin;
  position: relative;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.projects::before {
  content: "";
  background-color: rgba(20, 20, 20, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.projects:first-child {
  margin-top: 0px;
}

.content-projects-description {
  width: 100%;
  height: 100%;
}

.content-projects-description::before {
  content: "";
  background-color: rgba(39, 39, 39, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.projects-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 3vh 2vw;
  position: relative;
  z-index: 100;
}

.projects-img {
  width: 100%;
  height: 100%;
}

.projects-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects-info {
  color: #dbdee8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  transform-origin: bottom left;
  z-index: 500;
}

.projects-info.active {
  opacity: 1;
  transform: scale(1);
}
.projects-name {
  display: block;
  font-size: calc(1vw + 1rem);
  margin-bottom: 2rem;
  text-align: center;
}

.description {
  font-size: calc(1vw + 0.7em);
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.link-projects {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}

.link-projects-all {
  border: 1px solid #dbdee8;
}

.link-projects-all a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 6vh;
}

.more-info {
  background-color: rgba(14, 14, 14, 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: -30px;
  left: -30px;
  z-index: 800;
  opacity: 0;
  transition: all linear .3s;
}

.more-info::before {
  content: "";
  background-color: #dbdee8;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.icon-plus {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: #dbdee8;
  fill: #dbdee8;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.projects:hover .more-info::before {
  transform: scale(0);
}

.projects:hover .more-info {
  opacity: 1;
}

.projects:hover .icon-plus {
  opacity: 1;
  transform: scale(1);
}

.icon-github-project, .icon-new-tab {
  display: inline-block;
  width: calc(1rem + 1vw);
  height: calc(1rem + 1vw);
  stroke-width: 0;
  stroke: #dbdee8;
  fill: #dbdee8;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .more-info {
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: -20px;
  }
  .more-info::before {
    width: 10px;
    height: 10px;
  }

  .projects-name {
    margin-bottom: 0.5rem;
  }

  .link-projects {
    padding-top: 0.5rem;
  }
  
}
