.skills {
  border: 1.5px solid var(--dark-color);
  width: 80%;
  display: flex;
}

.content-icon-skills {
  border-right: 1.5px solid var(--dark-color);
  padding: .3rem;
  width: 20%;
}

.content-icon-skills svg {
  width: 100%;
}

.skills span {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--general-text-size);
  letter-spacing: var(--letter-spacing);
}

.icon-react, .icon-javascript, .icon-css3, .icon-html-five {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: black;
  fill: var(--dark-color);
}