.content-skills {
  padding: .5rem;
  flex: 1;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: .5rem .8rem .5rem .5rem;
  border-right: 1.5px solid var(--dark-color);
}
.content-skills:last-child .skills {
  border: none;
}

.content-icon-skills {
  padding: 0.3rem;
  width: 100%;
}

.content-icon-skills svg {
  width: 100%;
}

.skills span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--general-text-size);
  letter-spacing: var(--letter-spacing);
}

.icon-react,
.icon-javascript,
.icon-css3,
.icon-html-five,
.icon-git,
.icon-adobephotoshop,
.icon-sass,
.icon-redux {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  stroke-width: 0;
  stroke: black;
  fill: var(--dark-color);
}
