.wrapperPadding {
  padding: 0 5vw;
}

.appContentHero {
  /* border: 2px solid red; */
  height: 100vh;
}

.wrapperContentHero {
  /* border: 2px solid blue; */
  display: flex;
  position: relative;
  height: 100%;
}

.appLeftContentHero {
  /* border: 2px solid green; */
  width: 100%;
  padding-top: 10vh;
  position: relative;
  z-index: 5;
}

.appLeftContentHeroRole {
  /* border: 2px solid blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.role {
  color: var(--primary-text);
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
}

.contentButtonContact {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding-bottom: 15vh;
  position: relative;
}

.contentButtonForm {
  /* border: 1px solid red; */
  border-radius: 50px;
  box-shadow: 0px 4px 20px rgba(124, 77, 255, 0.4);
  background-color: var(--accent-color);
  overflow: hidden;
}

.contentButtonForm::before {
  content: "";
  border-radius: 50px;
  background-color: #683edb;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all ease-in 0.4s;
}

.contentButtonForm:hover::before {
  /* opacity: 1; */
  width: 200px;
  height: 200px;
}

.contentButtonForm {
  align-self: flex-end;
  position: relative;
}

.contactButton {
  /* border: 2px solid black; */
  border: none;
  background: none;
  border-radius: 50px;
  color: var(--body-color);
  cursor: pointer;
  font-size: calc(1vw + 0.8em);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  /* text-transform: uppercase; */
  padding: 0.6rem 1.8rem;
  position: relative;
  z-index: 10;
}

.appRightContentHero {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  z-index: 20;
}

.appRightContentHeroImg {
  /* border: 2px solid red; */
  position: relative;
  width: 85%;
}

.wordsHero {
  /* border: 2px solid red; */
  color: var(--accent-color);
  display: block;
  font-family: var(--title-font);
  font-weight: 600;
  position: absolute;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  transform: skew(-15deg);
  opacity: 0.1;
  z-index: 10;
}

.wordsHero.top {
  color: var(--primary-color);
  top: -15%;
  right: 20%;
  font-size: calc(1vw + 0.6em);
}

.wordsHero.topRight {
  top: 0;
  right: 0;
  font-size: calc(1vw + 0.5em);
}

.wordsHero.rightMiddle {
  top: 30%;
  left: -10%;
  font-size: calc(1vw + 3em);
  opacity: 0.1;
}

.wordsHero.bottomRight {
  bottom: 0;
  right: -5%;
  font-size: calc(1vw + 0.8em);
}

.wordsHero.bottomLeft {
  bottom: -60%;
  left: -70%;
  font-size: calc(10vw + 1em);
  z-index: 50;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.appContentScrollArrow {
  /* border: 2px solid rgb(126, 11, 30); */
  position: absolute;
  bottom: 35px;
}

.scrollBack,
.scrollBefore {
  width: 50px;
  height: 50px;
}

.scrollBack {
  /* border: 2px solid red; */
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0.5;
  position: relative;
  z-index: 5;
}

.scrollBack img {
  width: 60%;
  height: 60%;
}

.scrollBack svg {
  position: relative;
  z-index: 10;
}

.scrollBefore {
  /* border: 2px solid red; */
  border-radius: 50%;
  color: var(--body-color);
  opacity: 1;
  position: absolute;
  top: -1%;
  left: 7%;
  filter: drop-shadow(1px 5px 3px rgba(27, 16, 54, 0.671));
  z-index: 100;
}

.scrollBefore img {
  width: 100%;
  height: 100%;
}

.backgroundSectionLeft {
  background-color: var(--light-prymary-color);
  display: block;
  position: absolute;
  top: 0;
  left: -65vw;
  width: 100vw;
  height: 100vh;
  transform: skew(-15deg);
  opacity: 1;
  z-index: 2;
}

/* About //////////////////*/

.appContentAboutMe {
  /* border: 2px solid red ; */
  overflow: hidden;
}

/* .appContentAboutMe::before {
  content: "";
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 100vh;
  transform: skew(-15deg) rotate(90deg);
} */

.appContentAboutMeHeader {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding-top: 20vh;
  position: relative;
}

.appContentAboutMePhoto {
  /* border: 2px solid violet; */
  border-radius: 8px;
  opacity: 1;
  /* position: sticky; */
  /* top: 0; */
  width: 12vw;
  transform: translate(-65px, 750px);
  filter: grayscale(0.9);
}

/* .appContentAboutMePhoto::before {
  content: "";
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.layerPhoto {
  /* border: 1px solid red; */
  background-color: var(--body-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appContentAboutMeTitle {
  /* border: 2px solid green; */
  position: relative;
  width: 50%;
  color: var(--primary-text);
}

.appContentAboutMeTitle::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  right: -30%;
  width: 100%;
  height: 4px;
}

.spanName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
  font-size: calc(4vw + 2em);
}

.text {
  opacity: 1;
}

.h2Name {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  text-align: end;
}

.appContentAboutMeDescription {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.wrapperAboutMeDescription {
  /* border: 2px solid rgb(78, 47, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text);
  position: relative;
  width: 100%;
}

.lineRightAbout,
.lineBottomAbout,
.lineLeftAbout {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0;
}

.lineRightAbout,
.lineLeftAbout {
  width: 3px;
}

.lineBottomAbout {
  right: -5%;
  bottom: 8%;
  width: 70%;
  height: 3px;
}

.lineRightAbout {
  top: -1%;
  right: 0;
  height: 60%;
}

.lineLeftAbout {
  top: 15%;
  left: 0;
  height: 60%;
}

.pDescription.subTitleDescription {
  font-weight: 600;
}

.pDescription:not(.pDescription:first-child) {
  margin-top: 5vh;
}

.pDescription {
  color: var(--primary-text);
  font-size: var(--paragraph-font-size);
  font-family: var(--title-font);
  line-height: 180%;
  letter-spacing: var(--letter-spacing);
}

.h3Description {
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  margin-top: 10vh;
  text-align: left;
}

.footerDescription {
  font-weight: bold;
  letter-spacing: 2px;
}

.contentButtonContactAbout {
  padding: 20vh;
}

/* skills */

.appContentSkills {
  /* border: 2px solid rgb(25, 241, 108); */
  color: var(--body-color);
  padding: 10vh 0;
  text-align: center;
  position: relative;
}

.containBlurry {
  /* border: 2px solid greenyellow; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containBlurry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h3Skills {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  margin-bottom: 10vh;
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
}

.contentItemSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexSkills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.itemSkills {
  /* border: 1px solid rgb(0, 255, 64); */
  width: 100%;
  padding: 4vh 4vw;
}

.contentSkillsLabel {
  margin-right: 4vw;
  flex: 0 1 20%;
}

.labelSkills {
  /* border: 1px solid var(--body-color); */
  border-radius: 50px;
  display: block;
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  padding: 1vh 1vw;
  position: relative;
  z-index: 10;
}

.itemSkills img {
  width: 100%;
  height: 100%;
}

/* challenges */

.circleChallenge {
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: -60px;
  width: 60px;
  height: 60px;
  opacity: 1;
  filter: drop-shadow(1px 5px 3px rgba(19, 24, 56, 0.616));
  z-index: 1;
}

.circleChallenge img {
  width: 100%;
  height: 100%;
}

.appContentChallengesHeader {
  /* border: 2px solid red; */
  color: var(--primary-text);
  justify-content: space-between;
  padding-top: 20vh;
}

.spanChallengeName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2FrontendName {
  /* border: 2px solid rgb(0, 255, 42); */
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 30vw;
}

.wrapperContentChallenge {
  /* border: 2px solid red; */
  display: flex;
  padding-top: 10vh;
}

.appLeftContentChallenge {
  /* border: 2px solid blue; */
  color: var(--primary-text);
  width: 100%;
}

.appLeftContentChallenge div:not(div.wrapperCodeImg) {
  /* border: 2px solid green; */
  margin-top: 6vh;
}

.h3Challenge {
  font-family: var(--title-font);
  font-size: calc(1vw + 0.8em);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.challengeDescription {
  display: flex;
  flex-direction: column;
}

.challengeDescription span {
  font-size: 20px;
  line-height: var(--line-height);
}

.challengeCodeImg {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: flex-end;
}

.wrapperCodeImg {
  width: 100%;
  margin-bottom: 4vh;
}

.wrapperCodeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challengeMyExplanation {
  width: 100%;
}

.pMyExplanation {
  font-family: var(--title-font);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.appRightContentChallenge {
  /* border: 2px solid rgb(11, 119, 29); */
  display: none;
  justify-content: center;
  width: 40%;
}

.appRightContentChallengeImg {
  /* border: 2px solid red; */
  position: relative;
  width: 30%;
}

.contentLineChallenges {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.lineChallenge {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0.5;
}

.lineChallenge.horizontal {
  width: 60%;
  height: 3px;
}

.lineChallenge.vertical {
  width: 3px;
  height: 100%;
}

.contentImgPhone {
  position: absolute;
  z-index: 10;
}

.contentImgPhone img {
  width: 100%;
}

.contentMoreLink {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  position: relative;
}

.circleCustomLinkAnimate {
  /* border: 2px solid red; */
  background-color: var(--accent-color);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  left: -45%;
  top: 10%;
  width: 60px;
  height: 60px;
  opacity: 1;
  filter: drop-shadow(1px 5px 3px rgba(78, 60, 128, 0.671));
  z-index: 15;
}

.circleCustomLinkAnimate img {
  width: 100%;
  height: 100%;
}

.contentLinesCustomLink:hover .lineCustomLink {
  /* border: 2px solid green; */
  transform: translateX(15%);
}

.contentLinesCustomLink:hover .circleCustomLink {
  /* border: 2px solid green; */
  transform: translateX(-15%);
}

.contentLinesCustomLink {
  /* border: 2px solid red; */
  position: relative;
}

.lineCustomLink,
.circleCustomLink {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.lineCustomLink {
  left: 30%;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.circleCustomLink {
  border-radius: 50%;
  bottom: 0;
  left: -15%;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  z-index: 1;
}

.moreLink {
  /* border: 2px solid red; */
  color: var(--primary-text);
  font-size: calc(1.5vw + 1.3em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

/* footer ///////////////// */

.headerContact {
  /* border: 2px solid red; */
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.headerContact h4 {
  font-family: var(--title-font);
  font-size: calc(1vw + 1em);
  letter-spacing: var(--letter-spacing);
}

.appContentFooterFormContact {
  /* border: 2px solid rgb(14, 66, 189); */
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh;
  position: relative;
}

.wrapperForm {
  /* border: 2px solid black ; */
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  padding: 4vh 3vw;
  width: 100%;
}

.formContact {
  /* border: 2px solid rgb(255, 0, 255); */
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.formContact input {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact textarea {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #6d7499;
}

.formContact span {
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.contentButtonSendMsg {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-end;
}

.contentSocial {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  font-family: var(--title-font);
  margin-top: 1vh;
}

.wrapperPadding {
  position: relative;
}

.wrapperPadding:last-child::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
}

@media only screen and (min-width: 860px) {
  .appContentNavLinks {
    width: 45%;
  }
  .appLeftContentHero {
    width: 50%;
  }

  .appLeftContentHeroRole {
    justify-content: start;
  }

  .contentButtonContact {
    padding-bottom: 0;
    padding-top: 5vh;
    padding-right: 10vw;
  }

  .contactButton {
    font-size: calc(1vw + 0.3em);
  }

  .appRightContentHero {
    width: 55%;
  }

  .heroImg {
    opacity: 1;
  }

  .role,
  .h3Skills {
    font-size: 67.77px;
  }

  .lineRightAbout,
  .lineBottomAbout,
  .lineLeftAbout {
    opacity: 0.3;
  }

  .wrapperSkills {
    padding: 6vh 0;
  }

  .itemSkills {
    /* width: 18%; */
  }

  .contentSkillsLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pDescription {
    padding: 0 8vw;
    font-size: 18px;
  }

  .pMyExplanation {
    font-size: 18px;
  }

  .appLeftContentChallenge {
    width: 60%;
  }

  .appRightContentChallenge {
    display: flex;
  }

  .wrapperCodeImg {
    width: 70%;
  }

  .contentMoreLink {
    padding-top: 45vh;
  }

  .wrapperPadding {
    padding: 0 5vw;
  }

  .wrapperForm {
    width: 80%;
  }

  .socialItem {
    width: 5%;
  }
}
