.wrapperPadding {
  padding: 0 5vw;
  display: flex;
  justify-content: center;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.appContentHero {
  height: 100vh;
}

.wrapperContentHero {
  display: flex;
  height: 100%;
}

.appLeftContentHero {
  width: 100%;
  padding-top: 10vh;
  position: relative;
  z-index: 30;
}

.appLeftContentHeroRole {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.role {
  color: #ffffff;
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
}

.subTitleRole {
  color: #ffffff;
  font-size: var(--paragraph-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  margin-top: 0.5rem;
}

.appRightContentHero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  z-index: 20;
}

.appRightContentHeroImg {
  position: relative;
  width: 85%;
}

.wordsHero {
  color: var(--accent-color);
  display: block;
  font-family: var(--title-font);
  font-weight: 600;
  position: absolute;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  transform: skew(-15deg);
  opacity: 0.1;
  z-index: 10;
}

.wordsHero.top {
  color: var(--primary-color);
  top: -15%;
  right: 20%;
  font-size: calc(1vw + 0.6em);
}

.wordsHero.topRight {
  top: 0;
  right: 0;
  font-size: calc(1vw + 0.5em);
}

.wordsHero.rightMiddle {
  top: 30%;
  left: -10%;
  font-size: calc(1vw + 3em);
}

.wordsHero.bottomRight {
  bottom: 0;
  right: -5%;
  font-size: calc(1vw + 0.8em);
}

.wordsHero.bottomLeft {
  bottom: -80vh;
  left: -70%;
  font-size: calc(10vw + 1em);
  z-index: 50;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.appContentScrollArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 85vh;
  margin-left: 3rem;
}

.appContentScrollArrow svg {
  position: absolute;
  top: 140px;
}

.contentCircleText {
  position: absolute;
  transition: all ease 0.3s;
}

.circleText {
  color: var(--body-color);
  font-size: 14px;
  text-transform: uppercase;
}
.scrollBack {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 1;
  position: relative;
  z-index: 5;
}

.scrollBack img {
  width: 100%;
  height: 100%;
}

.scrollBack svg {
  position: relative;
  z-index: 10;
}

.scrollBefore {
  border-radius: 50%;
  color: var(--body-color);
  opacity: 1;
  position: absolute;
  top: -1%;
  left: 7%;
  filter: drop-shadow(1px 5px 3px rgba(27, 16, 54, 0.479));
  z-index: 100;
}

.scrollBefore img {
  width: 100%;
  height: 100%;
}

.backgroundSectionLeft {
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
  height: 100vh;
  opacity: 1;
  z-index: 2;
}

/* About //////////////////*/

.appContentAboutMe {
  overflow: hidden;
}

.appContentAboutMeHeader {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--section-header-spaces);
  position: relative;
  z-index: 100;
}

.appContentAboutMeTitle {
  position: relative;
  width: 50%;
  color: var(--primary-text);
}

.appContentAboutMeTitle::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  right: -30%;
  width: 100%;
  height: 4px;
}

.spanName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.text {
  opacity: 1;
}

.h2Name {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  text-align: end;
  margin-top: 0.5rem;
}

.appContentAboutMeDescription {
  display: flex;
  justify-content: center;
  /* padding-top: 10vh; */
  margin-top: 3rem;
}

.wrapperAboutMeDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text);
  position: relative;
  width: 100%;
}

.lineRightAbout,
.lineBottomAbout,
.lineLeftAbout {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0;
}

.lineRightAbout,
.lineLeftAbout {
  width: 3px;
}

.lineBottomAbout {
  right: -5%;
  bottom: 4%;
  width: 70%;
  height: 3px;
  opacity: 0;
}

.lineRightAbout {
  top: -1%;
  right: -2%;
  height: 60%;
}

.lineLeftAbout {
  top: 15%;
  left: -2%;
  height: 60%;
}

.pDescription.subTitleDescription {
  font-weight: 600;
}

.pDescription + .pDescription {
  margin-top: 2.5rem;
}

.pDescription {
  max-width: 75ch;
  color: var(--primary-text);
  font-size: var(--paragraph-font-size);
  font-family: var(--title-font);
  line-height: 180%;
  letter-spacing: var(--letter-spacing);
}

.h3Description {
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  margin-top: 10vh;
  text-align: left;
}

.footerDescription {
  font-weight: bold;
  letter-spacing: 2px;
}

.contentButtonContact {
  margin-top: 2.5rem;
}

.contentButtonContactAbout {
  padding: 10vh;
}

/* skills */

.appContentSkills {
  background-color: var(--primary-color);
  color: var(--body-color);
  padding: 10vh 0;
  position: relative;
}

.containBlurry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containBlurry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h3Skills {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 10vh;
  text-align: center;
}

.flexSkills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.itemSkills {
  padding: 4vh 4vw;
}

.contentSkillsLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelSkills {
  border-radius: 50px;
  display: block;
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  padding: 1vh 1vw;
  position: relative;
  z-index: 10;
}

.itemSkills img {
  width: 100%;
  height: 100%;
}

/* proyects */

.appContentPersonalProjectsHeader {
  color: var(--primary-text);
  padding-top: var(--section-header-spaces);
}

.spanWorkName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2WorkName {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 15vw;
  margin-top: 0.5rem;
}

/* challenges */

.circleChallenge {
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: -60px;
  width: 60px;
  height: 60px;
  opacity: 1;
  filter: drop-shadow(1px 5px 3px rgba(19, 24, 56, 0.616));
  z-index: 1;
}

.circleChallenge img {
  width: 100%;
  height: 100%;
}

.appContentChallengesHeader {
  color: var(--primary-text);
  justify-content: space-between;
  padding-top: var(--section-header-spaces);
}

.spanChallengeName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.h2FrontendName {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 15vw;
  margin-top: 0.5rem;
}

.wrapperContentChallenge {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.appLeftContentChallenge {
  color: var(--primary-text);
  width: 100%;
}

.h3Challenge {
  font-family: var(--title-font);
  font-size: calc(1vw + 0.8em);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.challengeDescription {
  display: flex;
  flex-direction: column;
}

.challengeDescription span {
  font-size: 20px;
  font-family: var(--title-font);
  font-weight: 500;
  line-height: var(--line-height);
}

.challengeDescription span:last-child {
  margin-top: 0.5rem;
}

.challengeCodeImg {
  display: flex;
  justify-content: flex-end;
}

.wrapperCodeImg {
  width: 100%;
  margin-bottom: 4vh;
}

.wrapperCodeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.challengeMyExplanation {
  width: 100%;
}

.pMyExplanation {
  font-family: var(--title-font);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--letter-spacing);
  margin-top: 2.5rem;
}

.criteriaChallenges {
  font-family: var(--title-font);
  font-size: var(--paragraph-font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-list);
  list-style-type: circle;
}

.appRightContentChallenge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10vh;
}

.appRightContentChallengeImg {
  position: relative;
  width: 60%;
}

.personalProjectsExternalLink {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

.contentIconExLinkProjects,
.contentIconGithubProjects {
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem;
}
.contentIconGithubProjects {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 80%;
  right: -10%;
  margin-left: 1rem;
}

.contentIconExLinkProjects {
  background-color: var(--accent-color);
  margin-right: 1rem;
}

.contentLineChallenges {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.lineChallenge {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  top: -20px;
  opacity: 0.5;
}

.lineChallenge.horizontal {
  width: 60%;
  height: 3px;
}

.lineChallenge.vertical {
  width: 3px;
  height: 100%;
}

.contentImgPhone {
  position: relative;
  z-index: 10;
}

.contentImgPhone img {
  filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  width: 100%;
}

.contentMoreLink {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  position: relative;
}

.circleCustomLinkAnimate {
  background-color: var(--accent-color);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  left: -15%;
  top: 10%;
  width: 60px;
  height: 60px;
  opacity: 1;
  filter: drop-shadow(1px 5px 3px rgba(27, 16, 54, 0.479));
  z-index: 15;
}

.circleCustomLinkAnimate img {
  width: 100%;
  height: 100%;
}

.contentLinesCustomLink:hover .lineCustomLink {
  transform: translateX(15%);
}

.contentLinesCustomLink:hover .circleCustomLink {
  transform: translateX(-15%);
}

.contentLinesCustomLink {
  position: relative;
}

.lineCustomLink,
.circleCustomLink {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.lineCustomLink {
  left: 30%;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.circleCustomLink {
  border-radius: 50%;
  bottom: 0;
  left: -15%;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  z-index: 1;
}

.moreLink {
  color: var(--primary-text);
  font-size: calc(1vw + 1.3em);
  font-family: var(--title-font);
  position: relative;
  z-index: 10;
}

/* footer ///////////////// */

.headerContact {
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.headerContact h4 {
  font-family: var(--title-font);
  font-size: calc(1vw + 1em);
  letter-spacing: var(--letter-spacing);
}

.appContentFooterFormContact {
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh;
  position: relative;
}

.wrapperForm {
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  padding: 4vh 3vw;
  width: 100%;
}

.formContact {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.formContact input {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact textarea {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #6d7499;
}

.formContact span {
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.contentButtonSendMsg {
  display: flex;
  justify-content: flex-end;
}

.contentSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  font-family: var(--title-font);
  margin-top: 1vh;
}

.wrapperPadding {
  position: relative;
}

@media only screen and (min-width: 860px) {
  .appContentNavLinks {
    width: 45%;
  }
  .appLeftContentHero {
    width: 50%;
  }

  .appLeftContentHeroRole {
    justify-content: start;
  }

  .contactButton {
    font-size: var(--text-button-small);
  }

  .appRightContentHero {
    width: 55%;
  }

  .heroImg {
    opacity: 1;
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  }

  .role,
  .h3Skills {
    font-size: 67.77px;
  }

  .lineRightAbout,
  .lineBottomAbout,
  .lineLeftAbout {
    opacity: 0.1;
  }

  .wrapperSkills {
    padding: 6vh 0;
  }

  .pDescription {
    font-size: 18px;
  }

  .wrapperContentChallenge {
    flex-direction: row;
  }

  .appLeftContentChallenge {
    width: 60%;
  }

  .appRightContentChallenge {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .appRightContentChallengeImg {
    width: 35%;
    height: 100%;
  }

  .wrapperCodeImg {
    width: 70%;
  }

  .wrapperCodeImg img {
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  }

  .wrapperPadding {
    padding: 0 5vw;
  }

  .wrapperForm {
    width: 80%;
  }

  .socialItem {
    width: 5%;
  }
}
