.App-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 100px;
  position: relative;
}

.App-header-content {
  display: flex;
  color: var(--dark-color);
  width: 40%;
  font-size: var(--text-hi);
  letter-spacing: 2px;
}

.App-aside {
  padding: 0.5rem 0.5rem;
  position: fixed;
  top: 0;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.App-aside::before {
  content: "";
  border-radius: 50%;
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  position: absolute;
  width: 45px;
  height: 45px;
}

.animate-span-profile.active {
  border: 2px solid #de620c;
  border-radius: 50%;
  position: absolute;
  width: 45px;
  height: 45px;
  transform: scale(1);
  animation: border 2s linear infinite;
}

@keyframes border {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.border-animate {
  border-bottom: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: var(--size-before-top);
  z-index: 10;
}

.border-aside-animate {
  border-right: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transform: var(--size-before-left);
  z-index: 10;
}

.App-content-personal-info {
  background-color: #dbdee8;
  color: #404247;
  padding: 3rem 6rem ;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.title-personal-info {
  border-bottom: 2px solid #de620c;
  font-weight: 400;
  font-size: calc(1vw + 0.8rem);
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

.sub-title-personal-info {
  display: block;
  font-size: calc(1vw + 0.5rem);
  margin-bottom: 1.5rem;
}

.text-personal-info {
  font-size: calc(1vw + 0.5rem);
  line-height: 1.8;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.text-personal-info.first:first-letter {
  color: #de620c;
  font-size: calc(1vw + 1.3rem);
}

.content-button-personal-info {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.parent-content-button.button-action-about-me {
  background: #de620c;
  width: auto;
}

.parent-content-button form {
  display: flex;
  justify-content: center;
  width: 100%;

}

.parent-action-link-about-me {
  background: #de620c;
  display: flex;
  align-items: center;
  width: auto;
  height: 36px;
}

.button-action-about-me {
  display: block;
  font-size: calc(1vw + .3rem);
  letter-spacing: 1px;
  padding: 0.5rem 0.8rem;
  color: #dbdee8;
}

.App-content-personal-info.scale-info {
  opacity: 1;
  /* transform: translateX(0%) scale(1.0); */
  position: relative;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 0rem 60px 0px ;
  margin-bottom: 5rem;
  transition: all 0.5s ease-in-out;
  transform-origin: right;
  /* transform: scaleX(1.0); */
}


.App-main.scale {
  opacity: 0;
  transform: translateX(100%) scaleX(0);
  /* position: absolute; */
}


.trigger {
  border: 2px solid red;
  width: 100%;
  height: 200px;
  /* position: absolute;   */
  margin-top: 25rem;
  top: 10vh;
}

.trigger-h {
  border: 2px solid red;
  width: 100%;
  height: 100px;
  margin-top: 20rem;
  /* position: absolute;   */
  /* top: 40vh; */
}

.App-main.hidden {
  /* display: none; */
}

.App-main.block {
  display: grid;
}

.App-content-profile-skills {
  display: flex;
  /* position: absolute; */
  /* bottom: 0; */
  /* position: fixed; */
  left: 7rem;
}

.link-profile {
  position: relative;
  z-index: 100;
}

.App-content-profile {
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  width: 30vw;
}

.kit-content {
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  position: relative;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.over-hidden {
  overflow: hidden;
  position: relative;
}

.over-kit {
  display: flex;
  position: relative;
}

.content-title-skills,
.content-title-tools {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.title-skills,
.title-tools {
  color: var(--dark-color);
  font-size: calc(1vw + 0.6em);
  position: absolute;
  top: -7vmin;
}


.App-content-skills > div:last-child {
  margin-bottom: 0rem;
}

.App-parent-projects {
  /* display: none; */
  width: 40%;
  /* padding: 0rem 2rem; */
  position: relative;
  cursor: all-scrolla;
  /* top: 12rem; */
}

.App-content-projects {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.content-title-projects-top,
.content-title-projects {
  width: 100%;
  position: absolute;
  top: -140px;
  font-size: calc(1vw + 1rem);
}

.content-title-projects-top {
  height: 10vmin;
  overflow: hidden;
  z-index: 1;
}

.title-projects {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: calc(2vw + 1em);
}

.title-projects h2 {
  font-weight: 500;
}

.title-projects-top {
  color: #dbdee8;
}

.content-title-projects {
  height: 60vmin;
}

.title-projects {
  color: var(--dark-color);
}

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

  .App-header {
    padding-left: 10px;
    position: static;
  }
  .border-animate {
    height: 60px;
  }

  .App-main {
    grid-template-columns: 1fr;
    height: 100%;
    padding-left: 0px;
    padding-bottom: 15vh;
    position: relative;
  }

  .App-aside {
    background-color: #dbdee8;
    border-top: 1px solid rgb(27, 27, 27);
    border-right: none;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
  }

  .button-action-about-me {
    font-size: 1rem;
  }

  .border-aside-animate {
    border-right: none;
  }


  .App-content-personal-info {
    padding: 1rem 2rem 6rem 2rem;
    height: auto;
  }

  .text-personal-info {
    font-size: 1rem;
  }

  .sub-title-personal-info {
    font-size: 14px;
  }

  .App-content-profile {
    width: 80%;
  }

  .App-content-profile,
  .App-content-skills,
  .App-content-tools {
    margin-top: 10vh;
  }

  .content-title-projects,
  .content-title-projects-top {
    top: 0;
  }
  .title-projects-top,
  .title-projects {
    top: -6vmin;
    left: -25px;
  }

  .App-parent-projects {
    margin-top: 15vh;
    padding: 0;
  }
  .content-projects {
    position: static;
  }
  .content-projects > .projects {
    margin-top: 100px;
  }

  .projects:first-child {
    margin-top: 0px;
  }

  .kit-content {
    width: 80vw;
  }

  .parent-content-button.top,
  .parent-content-button.bottom {
    display: none;
  }

  .count-projects {
    display: none;
  }
}
