.App-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 80px;
  position: relative;
}

.App-header-content {
  /* border: 2px solid gold; */
  display: flex;
  color: var(--dark-color);
  width: 40%;
  font-size: var(--text-hi);
  letter-spacing: 2px;
}

.span-welcome {
  margin-left: 1rem;
}

.App-aside {
  padding: 0.5rem 0.5rem;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.App-aside::before {
  content: "";
  border-radius: 50%;
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  position: absolute;
  width: 45px;
  height: 45px;
}

.animate-span-profile.active {
  border: 1px solid #de620c;
  border-radius: 50%;
  position: absolute;
  width: 45px;
  height: 45px;
  transform: scale(1);
  animation: border 2s linear infinite;
}

@keyframes border {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.border-animate {
  border-bottom: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: var(--size-before-top);
  z-index: 10;
}

.border-aside-animate {
  border-right: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transform: var(--size-before-left);
  z-index: 10;
}

.App-content-personal-info {
  /* border: 2px solid red; */
  background-color: #dbdee8;
  /*margin-top: 60px;*/
  opacity: 0;
  padding: 3rem 8rem;
  position: absolute;
  /*top: 0;*/
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform-origin: left;
  transform: translateX(-100%);
  z-index: 300;
}

.title-personal-info {
  border-bottom: 2px solid #de620c;
  font-weight: 400;
  font-size: calc(1vw + 0.8rem);
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

.sub-title-personal-info {
  display: block;
  font-size: calc(1vw + 0.5rem);
  margin-bottom: 1.5rem;
}

.text-personal-info {
  font-size: calc(1vw + 0.6rem);
  line-height: 1.8;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.text-personal-info.first:first-letter {
  color: #de620c;
  font-size: calc(1vw + 1.3rem);
}

.content-button-personal-info {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.parent-content-button.button-action-about-me {
  background: #de620c;
  width: auto;
}

.button-action-about-me {
  border: none;
  background: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: .5rem;
  color: #dbdee8;
}

.App-content-personal-info.scale-info {
  opacity: 1;
  transform: translateX(0%);
}
.App-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 60px;
  height: calc(100vh - 62px);
  position: relative;
  transition: all 0.5s ease-in-out;
  transform-origin: right;
}

.App-main.scale {
  /*height: 100vh;*/
  opacity: 0;
  /*overflow: hidden;*/
  transform: translateX(100%);
  position: absolute;
}

.App-content-profile-skills {
  /* border: 2px solid darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-content-profile {
  /* border: 2px solid rgb(8, 78, 255); */
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  width: 80%;
}

.kit-content {
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, 0.3);
  position: relative;
  width: 80%;
}

.over-hidden {
  overflow: hidden;
  position: relative;
}

.over-hidden::before {
  content: "";
  background-color: rgb(76 76 76 / 30%);
  position: absolute;
  top: 0;
  left: -2px;
  width: 10px;
  height: 100%;
  filter: blur(8px);
  z-index: 100;
}

.over-hidden::after {
  content: "";
  background-color: rgb(76 76 76 / 30%);
  position: absolute;
  top: 0;
  right: -2px;
  width: 10px;
  height: 100%;
  filter: blur(8px);
  z-index: 100;
}

.over-kit {
  cursor: move;
  display: flex;
  position: relative;
}

.content-title-skills,
.content-title-tools {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  /* z-index: 500; */
}

.title-skills,
.title-tools {
  color: var(--dark-color);
  /* color: transparent;
  -webkit-text-stroke: 1px var(--dark-color); */
  font-size: calc(1vw + 0.6em);
  position: absolute;
  top: -7vmin;
  left: -20px;
}

.App-content-skills > div {
  /* margin-bottom: 1rem;i */
}

.App-content-skills > div:last-child {
  margin-bottom: 0rem;
}

.App-parent-projects {
  padding: 0rem 2rem;
  position: relative;
}

.App-content-projects {
  /* border: 2px solid rgb(17, 208, 226); */
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.content-title-projects-top,
.content-title-projects {
  position: absolute;
  top: 15vmin;
  width: 80%;
}

.content-title-projects-top {
  height: 10vmin;
  overflow: hidden;
  z-index: 1;
}

.title-projects-top,
.title-projects {
  position: absolute;
  top: -10vmin;
  left: -110px;
  font-size: calc(4vw + 1em);
}

.title-projects-top {
  color: #dbdee8;
  /* color: transparent; */
  /* -webkit-text-stroke: 1.5px #DBDEE8; */
}

.content-title-projects {
  height: 60vmin;
}

.title-projects {
  color: var(--dark-color);
  /* color: transparent;
  -webkit-text-stroke: 1.5px var(--dark-color); */
}

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    /*overflow: initial;*/
  }

  .App-header {
    padding-left: 10px;
    position: static;
  }
  .border-animate {
    height: 60px;
  }

  .App-main {
    grid-template-columns: 1fr;
    height: 100%;
    padding-left: 0px;
    padding-bottom: 15vh;
  }

  .App-aside {
    background-color: #dbdee8;
    border-top: 1px solid rgb(27, 27, 27);
    border-right: none;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
  }
  .border-aside-animate {
    border-right: none;
  }

  .App-content-personal-info {
    padding: 3rem 3rem 6rem 3rem;

  }

  .App-content-profile,
  .App-content-skills,
  .App-content-tools {
    margin-top: 10vh;
  }

  .content-title-projects,
  .content-title-projects-top {
    top: 0;
  }
  .title-projects-top,
  .title-projects {
    top: -8vmin;
    left: -25px;
  }

  .App-parent-projects {
    margin-top: 15vh;
    padding: 0;
  }
  .content-projects {
    position: static;
  }
  .content-projects > .projects {
    margin-top: 100px;
  }

  .projects:first-child {
    margin-top: 0px;
  }
}
