.App-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 80px;
  position: relative;

}

.App-header-content {
  /* border: 2px solid gold; */
  display: flex;
  color: var(--dark-color);
  width: 40%;
  font-size: var(--text-hi);
  letter-spacing: 2px;
}

.span-welcome {
  margin-left: 1rem;
}

.App-aside {
  padding: .5rem .5rem;
  position: absolute; 
  top: 0;
  height: 100vh; 
  width: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}

.App-aside::before {
  content: "";
  border-radius: 50%;
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, .3);
  position: absolute;
  width: 45px;
  height: 45px;
}

.border-animate {
  border-bottom: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: var(--size-before-top);
  z-index: 10;
}

.border-aside-animate {
  border-right: 1.5px solid var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transform: var(--size-before-left);
  z-index: 10;
}

.App-content-personal-info {
  /* border: 2px solid red; */
  background-color: #DBDEE8;
  padding: 50px 50px 50px 110px;
  margin-top: 60px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
  transform-origin: left;
  transform: translateX(-100%);
  z-index: 300;
}

.App-content-personal-info p {
  font-size: calc(1vw + 1rem);
  line-height: 1.5;
  letter-spacing: 2px;
}

.App-content-personal-info.scale-info {
  opacity: 1;
  transform: translateX(0%);
}
.App-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 60px;
  height: calc(100vh - 62px);
  position: relative;
  transition: all .5s ease-in-out;
  transform-origin: right;
}

.App-main.scale {
  opacity: 0;
  transform: translateX(100%);
}

.App-content-profile-skills {
  /* border: 2px solid darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.App-content-profile {
  /* border: 2px solid rgb(8, 78, 255); */
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  width: 80%;

}

.kit-content {
  background-color: rgb(238, 240, 245);
  box-shadow: 0 4px 20px 4px rgba(155, 153, 164, .3);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0.5rem;
  position: relative;
  width: 80%;
}

.over-hidden {
  display: flex;
  overflow: hidden;
}

.content-title-skills, .content-title-tools {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  /* z-index: 500; */
}

.title-skills, .title-tools {
  color: var(--dark-color);
  /* color: transparent;
  -webkit-text-stroke: 1px var(--dark-color); */
  font-size: calc(1vw + .8em);
  position: absolute;
  top: -7vmin;
  left: -20px;
}

.App-content-skills > div {
 /* margin-bottom: 1rem;i */
}

.App-content-skills > div:last-child {
  margin-bottom: 0rem;
}

.App-parent-projects {
  padding: 0rem 2rem;
  position: relative;
}

.App-content-projects {
  /* border: 2px solid rgb(17, 208, 226); */
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.content-title-projects-top, .content-title-projects {
  position: absolute;
  top: 15vmin;
  width: 80%;
}

.content-title-projects-top {
  height: 30vmin;
  overflow: hidden;
  z-index: 1;
}

.title-projects-top, .title-projects {
  position: absolute;
  top: -8vmin;
  left: -75px;
  font-size: calc(4vw + 1em);

}

.title-projects-top {
  color: #DBDEE8;
  /* color: transparent; */
  /* -webkit-text-stroke: 1.5px #DBDEE8; */
}

.content-title-projects {
  height: 60vmin;
}

.title-projects {
  color: var(--dark-color);
  /* color: transparent;
  -webkit-text-stroke: 1.5px var(--dark-color); */
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .App {
    overflow: initial;
  }

  .App-header {
    padding-left: 10px;
    position: static;
  }
  .border-animate {
    height: 60px;
  }


  .App-main {
    grid-template-columns: 1fr;
    height: 100%;
    padding-left: 0px;
    padding-bottom: 15vh;
  }

  .App-aside {
    background-color: #DBDEE8;
    border-top: 1px solid rgb(27, 27, 27);
    border-right: none;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 64px;
    z-index: 1000;
  }
  .border-aside-animate {
    border-right: none;
    
  }

  .App-content-personal-info {
    padding: 3rem;
  }

  .App-content-profile, .App-content-skills, .App-content-tools {
    margin-top: 10vh;
  }

  .content-title-projects, .content-title-projects-top {
    top: 0;
  }
  .title-projects-top, .title-projects {
    top: -8vmin;
    left: -25px;
  }

  .App-parent-projects {
    margin-top: 15vh;
    padding: 0;
  }
  .content-projects {
    position: static;
  }
  .content-projects > .projects {
    margin-top: 100px;
  }
  
  .projects:first-child {
    margin-top: 0px;
  }
}
