.appContentNav {
  background-color: var(--transparent-color);
  padding: 1vh 5vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.spanStyleNav {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.appNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.spanBack {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.logoName {
  color: var(--primary-text);
  font-size: calc(1vw + 0.7em);
  font-family: var(--title-font);
  letter-spacing: 1px;
}

.appContentNavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  padding-left: 3vw;
  transform: translateX(200%);
  transition: all 0.3s ease-in-out;
}

.appContentNavLinks.show {
  transform: translateX(0);
  opacity: 1;
}

.backMenuStyle {
  /* background-color: var(--primary-color); */
  background: #7c4dff;
  box-shadow: -8px -1px 45px -11px rgba(38, 17, 107, 0.3);
  position: absolute;
  top: 0;
  /* right: -50%; */
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  transition: all 0.4s linear;
  z-index: 1;
}

.ulContentLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  position: relative;
  z-index: 10;
}

.itemLink {
  color: var(--body-color);
  font-family: var(--title-font);
  font-size: calc(1.3vw + 1em);
  position: relative;
}

.itemLink::before {
  content: "";
  border-bottom: 1px solid var(--body-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in;
}

.itemLink:hover::before {
  transform: scaleX(1);
}

.iconNav {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--body-color);
  z-index: 200;
}

.path {
  fill: transparent;
  stroke: #212121;
  stroke-width: 1px;
  stroke-dashoffset: 188;
  stroke-dasharray: 188;
  animation: dash 1s linear;
  transition: all 0.3s ease-in-out;
}

.iconNav:hover .path {
  stroke-dashoffset: 0;
}

.parentIconOpen {
  z-index: 10;
}

.parentIconClose {
  z-index: 1;
}

.parentIconClose,
.parentIconOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  opacity: 1;
  position: relative;
}

.parentIconClose img,
.parentIconOpen img {
  width: 100%;
}
.parentIconOpen img {
  opacity: 1;
  transition: all 0.3s linear;
}

.parentIconClose img {
  width: 50%;
  opacity: 0;
  transition: all 0.3s linear;
}

.parentIconOpen img.noOpen {
  opacity: 0;
}

.parentIconClose img.open {
  opacity: 1;
}

.parentIconOpen,
.parentIconClose {
  position: absolute;
}

.iconClickOpen {
  z-index: 10;
}

.iconClickClose {
  opacity: 1;
}

.iconClickClose.open {
  opacity: 1;
}

@media only screen and (min-width: 860px) {
  .logoName {
    font-size: calc(1vw + 0.4em);
  }
  .appContentNavLinks {
    width: 45%;
  }
}
