.blob {
  /* border-radius: 50%; */
  /* background: red; */
  position: fixed;
  top: -500px;
  left: -500px;
  width: 2000px;
  height: 2000px;
  z-index: 100;
}

.blob img {
  width: 100%;
  height: 100%;
}

.wrapperPadding {
  display: flex;
  justify-content: center;
  padding: 0 5vw;
}

.wrapperMaxWidth {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 1280px;
  height: 100%;
}