.social-media {
  border-radius: 50%;
  margin-bottom: .8rem;
}
.social-media a {
  color: var(--dark-color);  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.content-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-name {
  display: block;
  font-size: calc(1vw + .3rem);
  margin-top: 1rem;
}

.icon-github, .icon-twitter, .icon-linkedin, .icon-mail4 {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: var(--dark-color);
  fill: var(--dark-color);
}
