.content-profile-avatar {
  /* border: 1.5px solid var(--dark-color); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.content-profile-avatar svg {
  width: 90%;
  height: 90%;
  position: relative;
  z-index: 10;
}
.profile-border {
  border-radius: 50%;
  background: linear-gradient(to bottom, #DE620C, transparent);
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 1;
}

/* .content-profile-avatar::before {
  content: "";
  background-color: red;
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: 1;
} */

