:root {
  --body-color: #f5f6fb;
  --primary-color: #3f51b5;
  --light-prymary-color: #c5cae9;
  --dark-primary-color: #303f9f;
  --accent-color: #7c4dff;
  --light-accent-color: #BEA6FF;
  /* --primary-text: #212121; */
  --primary-text: #2A2A2A;
  --title-font-size: calc(4vw + 2em);
  --sub-title-font-size: calc(4vw + 1em);
  --paragraph-font-size: calc(1vw + .9em);
  --title-font: "Saira";
  --sub-title-font: "Saira";
  --letter-spacing: 1px;
  --line-height: 170%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* html,
body,
#root {
  height: 100%;
} */
a {
  text-decoration: none;
  z-index: 100;
}

li {
  list-style: none;
}

.App {
  background-color: #e7e8ef;
  
  min-height: 100vh;
  /* padding-bottom: 6rem; */
  position: relative;
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
}
.soon {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5vw;
}

/* .page-enter {
  opacity: 0;
  transform: translateX(-50%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 400ms, transform 400ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 400ms, transform 400ms;
} */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    overflow: initial;
  }
}
