.content-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-profile > div  {
  /* border: 2px solid red; */
  margin-bottom: 1rem;

}
.content-profile > div:last-child {
  margin-bottom: 0rem;
}

.content-profile-social-media {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  justify-content: space-around;
}
